@{
    ViewData["Title"] = "Подтверждение изменения пароля";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ваш пароль изменён. Для входа в приложение перейдите по <a asp-action="Login" asp-controller="RegLog">ссылке</a>.
</p>
